<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
	$(function() {
		$(".checkDel").click(function(e) {
			var re = confirm("삭제하시겠습니까?");
			if(re == false){
				e.preventDefault();
			}
		});
	});
</script>
</head>
<body>
	<h2>도서목록</h2>
	<hr />
	<form action="/listBook" method="get">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<select name="category" id="category">
			<option value="bookid">도서번호</option>
			<option value="bookname">도서이름</option>
			<option value="publisher">출판사명</option>
		</select>
		<input type="search" id="keyword" name="keyword"  />
		<button type="submit">검색</button>
	</form>
	<hr />
	<th:block th:if="${session.m.role} == 'admin'">
		<a href="/insertBook">도서등록</a>		
	</th:block>
	<table border="1">
		<tr>
			<th>도서번호</th>
			<th>도서이름</th>
			<th>도서가격</th>
			<th>출판사</th>
			<th>Action</th>
		</tr>
		
		<tr th:each="b:${list}">
			<td th:text="${b.bookid}"></td>
			<td th:text="${b.bookname}"></td>
			<td th:text="${b.price}"></td>
			<td th:text="${b.publisher}"></td>
			<td>
				<th:block th:if="${session.m.role} == 'admin'">
					<a th:href="@{'/updateBook/'+${b.bookid}}">수정</a>&nbsp;
					<a class="checkDel" th:href="@{'/deleteBook/'+${b.bookid}}">삭제</a>&nbsp;			
				</th:block>
				<th:block th:if="${session.m.role} == 'user'">
					<a href="#">주문</a>								
				</th:block>
			</td>
		</tr>
	</table>
</body>
</html>